.contact-edit
{
  &__editButton {
    position: fixed;
    top: 20px;
    right: 20px;

    &--pencil {
      padding: 10px;
    }
  }

  &__clearButton {
    width:30px;
    text-align: center;
  }
}
