.contact-container {
  padding: 0 5px;

}

.contact-list {
  padding: 0;
  list-style: none;
  text-decoration: none;

  &__paper {
    padding: 10px;

    &__container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    &__detail {
      text-align: left;
      text-decoration: none;
      color: black;
      flex-basis: 40%;
    }
  }
}
